<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A layout example that shows off a responsive product landing page.">
  <title>广东顺德迪峰机械有限公司</title>

  <link rel="stylesheet" href="https://cdn.staticfile.org/pure/0.6.1/pure-min.css" integrity="sha384-"
        crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.staticfile.org/pure/0.6.1/grids-responsive-min.css">
  <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="../static/asset/css/marketing.css">
</head>

<body>


<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <img src="../static/asset/pics/difeng_logo.ico"  alt="page_logo">
    <a class="pure-menu-heading" href="/">广东顺德迪峰机械有限公司</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
      <li class="pure-menu-item"><a href="/home" class="pure-menu-link" target="_blank">生产日志管理系统</a></li>
      <li class="pure-menu-item"><a href="/admin" class="pure-menu-link" target="_blank">登录管理员系统</a></li>
    </ul>
  </div>
</div>

<div class="splash-container">
  <div class="splash">
    <style scoped>

      .button-success,
      .button-error,
      .button-warning,
      .button-secondary {
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      }

      .button-success {
        background: rgb(28, 184, 65);
      }

      .button-error {
        background: rgb(202, 60, 60);
      }

      .button-warning {
        background: #574266;
      }

      .button-secondary {
        background: #2e4e7e;
      }

    </style>
    <h1 class="splash-head">涂装生产线 工业4.0 综合监控系统</h1>
    <p class="splash-subhead">
      More than you can imagine.
    </p>
    <p>
      <a href="/video" target="_blank" class="pure-button button-secondary">视频实时监控</a>
      <a href="/dashboard" target="_blank" class="pure-button button-error">实时监控数据</a>
      <a href="/env" target="_blank" class="pure-button button-success">历史监控数据</a>
      <a href="/download_csv" class="pure-button button-warning">导出数据报表</a>
    </p>

  </div>
</div>

<div class="content-wrapper">
  <div class="content">
    <h2 class="content-head is-center">公司简介</h2>
    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

        <h3 class="content-subhead">
          <i class="fa fa-rocket"></i>
          地理位置
        </h3>
        <p>
          广东顺德迪峰机械有限公司位于广东省顺德区北滘镇广教工业区，公司占地面积有10000余平方米，是集研发设计、生产制造、经营销售和出口贸易于一体的、具有规模实力的专业型油漆涂装机械设备生产企业。
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3 class="content-subhead">
          <i class="fa fa-mobile"></i>
          经营理念
        </h3>
        <p>
          公司运用了德国、意大利等国的先进涂装技术平台，研发出具有独立知识产权的自动化涂装设备。公司秉承：“产品质量是我们赖以生存的基础，为客户创造价值是我们追求的终极目标”这一经营管理理念，专业致力于自动化喷涂设备、平面涂装设备、平面砂光设备、油漆干燥设备等研发、制造及应用，针对客户不同油漆、基材、施工工艺和质量要求等特点，专业研发、生产与之匹配的自动涂装生产线，提供环保、高效、高品质生产需求。
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3 class="content-subhead">
          <i class="fa fa-th-large"></i>
          技术背景
        </h3>
        <p>
          公司拥有一支具有十多年的设计、生产、销售和售后服务团队，为客户提供零距离、全方位技术支持、先进工艺方案和优质售后服务，实现了公司与客户双盈，得到了各地客户一致的好评。本公司亦与北京邮电大学，广东省自动化研究所等学术机构建立了深度研究合作。免费的技术支持、培训及售后保修是迪峰的永久承诺。
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3 class="content-subhead">
          <i class="fa fa-check-square-o"></i>
          公司规模
        </h3>
        <p>
          主营产品：	全自动喷涂生产线， 全自动辊涂生产线， 木门喷涂生产线， 淋涂生产线
        </p>
        <p>
          业务范围：	干燥设备；传热设备；其它制造加工机械；喷涂设备；木工机械；空气净化设备；涂装设备
        </p>
          经营模式：	生产制造
        <p>
          是否提供对外加工定制：	是
        </p>
        <p>
          厂房面积：	10000平方米
        </p>
      </div>
    </div>
  </div>

  <div class="ribbon l-box-lrg pure-g">
    <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
      <img width="300" alt="File Icons" class="pure-img-responsive" src="../static/asset/pics/file-icons.png">
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
      <h2 class="content-head content-head-ribbon">热诚欢迎各界友人与我厂合作！</h2>
      <p>
        联系电话: 0757-23271310
      </p>
      <p>
        传真: 0757-23271310
      </p>
      <p>
      地址: 广东省 佛山市 顺德区 北滘镇 广教工业区 广教路40号
      </p>
      <p>
        邮编: 528311
      </p>
    </div>
  </div>
  <!--
  <div class="content">
    <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

    <div class="pure-g">
      <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
        <form class="pure-form pure-form-stacked">
          <fieldset>

            <label for="name">Your Name</label>
            <input id="name" type="text" placeholder="Your Name">


            <label for="email">Your Email</label>
            <input id="email" type="email" placeholder="Your Email">

            <label for="password">Your Password</label>
            <input id="password" type="password" placeholder="Your Password">

            <button type="submit" class="pure-button">Sign Up</button>
          </fieldset>
        </form>
      </div>

      <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
        <h4>Contact Us</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>

        <h4>More Information</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
      </div>
    </div>

  </div>
  -->

  <div class="footer l-box is-center">
    广东顺德迪峰机械有限公司 -- 版权所有
  </div>
</div>
</body>
</html>
